### Importing MySQL, etc.

In [29]:
import numpy as np
import pandas as pd
import mysql.connector
import sqlalchemy as sqlalc

In [27]:
myDb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    passwd = "vincent28",
    use_pure = True,
    database = "pandas_test"
)
query = "select * from employees"
alamatDb = "mysql://root:vincent28@localhost:3306/pandas_test"
df = pd.read_sql(query, alamatDb)
df

   id     nama               email               waktu
0   1   Asnawi  asnawi@yahoo.co.id 2019-12-09 09:29:39
1   2    Bagas   bagasadi@yahoo.id 2019-12-09 09:29:39
2   3     Evan     evandd@yahoo.id 2019-12-09 09:29:39
3   4  Osvaldo    osvaldo@yahoo.id 2019-12-09 09:29:39

### SQL Alchemy Engine

In [61]:
engine = sqlalc.create_engine(alamatDb)
dfAlc = pd.read_sql(query, con)
dfAlc

   id     nama               email               waktu
0   1   Asnawi  asnawi@yahoo.co.id 2019-12-09 09:29:39
1   2    Bagas   bagasadi@yahoo.id 2019-12-09 09:29:39
2   3     Evan     evandd@yahoo.id 2019-12-09 09:29:39
3   4  Osvaldo    osvaldo@yahoo.id 2019-12-09 09:29:39

In [59]:
dfAlc.to_sql(
    name = 'datakaryawan',
    con = engine,
    if_exists = 'replace'
)
dfAlc

   id     nama               email                waktu
0   1   Asnawi  asnawi@yahoo.co.id  2019-12-09 09:29:39
1   2    Bagas   bagasadi@yahoo.id  2019-12-09 09:29:39
2   3     Evan     evandd@yahoo.id  2019-12-09 09:29:39
3   4  Osvaldo    osvaldo@yahoo.id  2019-12-09 09:29:39
4   5   Saddil    saddil@gmail.com  2019-12-10 10:22:31

In [58]:
newData = pd.DataFrame([
    {'id': 5, 'nama': 'Saddil',
    'email' : 'saddil@gmail.com',
    'waktu': '2019-12-10 10:22:31'}
])
#dfAlc = pd.concat([dfAlc, newData], ignore_index = True)
dfX = pd.read_sql_query(
'select * from employees', engine,
parse_dates = ['waktu'],
index_col = 'waktu')

In [55]:
dfTelkom = pd.read_csv('TLKM.JK.csv', parse_dates = ['Date'], index_col = 'Date')
# dfTelkom['Date'] = dfTelkom['Date'].astype('datetime64')
dfTelkom.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [56]:
dfTelkom.loc['2019-08-12']

Open             4300.0
High             4320.0
Low              4230.0
Close            4260.0
Adj Close        4260.0
Volume       41817800.0
Name: 2019-08-12 00:00:00, dtype: float64

In [50]:
dfTelkom['2016-08-01':'2019-08-08']

              Open    High     Low   Close    Adj Close     Volume
Date
2019-06-05  3900.0  3900.0  3900.0  3900.0  3794.045166          0
2019-06-06  3900.0  3900.0  3900.0  3900.0  3794.045166          0
2019-06-07  3900.0  3900.0  3900.0  3900.0  3794.045166          0
2019-06-10  4000.0  4060.0  3970.0  4040.0  3930.241699  222522800
2019-06-11  4010.0  4060.0  4000.0  4020.0  3910.784912   88861700
2019-06-12  3880.0  3950.0  3840.0  3940.0  3940.000000  134724400
2019-06-13  3940.0  3990.0  3900.0  3990.0  3990.000000  115734700
2019-06-14  4020.0  4050.0  3970.0  3990.0  3990.000000   92466800
2019-06-17  3950.0  3970.0  3900.0  3900.0  3900.000000   60851700
2019-06-18  3890.0  3990.0  3890.0  3980.0  3980.000000   66112800
2019-06-19  4020.0  4120.0  4020.0  4100.0  4100.000000  100210400
2019-06-20  4110.0  4110.0  4020.0  4040.0  4040.000000   57673700
2019-06-21  4010.0  4040.0  3950.0  4040.0  4040.000000  154049700
2019-06-24  4050.0  4050.0  3970.0  3980.0  3980.000000   50525100
2019-06-25  4040.0  4040.0  4000.0  4010.0  4010.000000   42601100
2019-06-26  4020.0  4050.0  3980.0  3980.0  3980.000000   56092200
2019-06-27  4010.0  4120.0  4000.0  4090.0  4090.000000   94221200
2019-06-28  4100.0  4200.0  4090.0  4140.0  4140.000000  130153100
2019-07-01  4200.0  4240.0  4170.0  4220.0  4220.000000   79382300
2019-07-02  4240.0  4250.0  4180.0  4250.0  4250.000000   87999800
2019-07-03  4160.0  4240.0  4160.0  4240.0  4240.000000   63296200
2019-07-04  4190.0  4260.0  4190.0  4250.0  4250.000000   38459300
2019-07-05  4260.0  4280.0  4240.0  4280.0  4280.000000   50332800
2019-07-08  4230.0  4290.0  4210.0  4270.0  4270.000000   57903400
2019-07-09  4300.0  4370.0  4270.0  4350.0  4350.000000  124822400
2019-07-10  4310.0  4320.0  4260.0  4290.0  4290.000000   62529900
2019-07-11  4250.0  4280.0  4240.0  4270.0  4270.000000   25645900
2019-07-12  4240.0  4250.0  4170.0  4180.0  4180.000000   57088600
2019-07-15  4250.0  4290.0  4230.0  4280.0  4280.000000   66960500
2019-07-16  4240.0  4280.0  4210.0  4240.0  4240.000000   45461500
2019-07-17  4250.0  4260.0  4220.0  4230.0  4230.000000   32069800
2019-07-18  4220.0  4250.0  4210.0  4240.0  4240.000000   45408100
2019-07-19  4260.0  4280.0  4250.0  4270.0  4270.000000   60692800
2019-07-22  4250.0  4270.0  4230.0  4260.0  4260.000000   37513700
2019-07-23  4260.0  4270.0  4200.0  4250.0  4250.000000   62628100
2019-07-24  4230.0  4240.0  4160.0  4190.0  4190.000000   73904300
2019-07-25  4160.0  4240.0  4160.0  4210.0  4210.000000   49276300
2019-07-26  4160.0  4210.0  4110.0  4160.0  4160.000000   70952400
2019-07-29  4150.0  4240.0  4140.0  4200.0  4200.000000   54336900
2019-07-30  4280.0  4300.0  4260.0  4270.0  4270.000000   88417200
2019-07-31  4240.0  4300.0  4210.0  4300.0  4300.000000  175741000
2019-08-01  4300.0  4300.0  4260.0  4280.0  4280.000000   94856600
2019-08-02  4280.0  4300.0  4250.0  4280.0  4280.000000   82253800
2019-08-05  4200.0  4220.0  4060.0  4080.0  4080.000000  112253200
2019-08-06  4060.0  4190.0  4050.0  4130.0  4130.000000  108890100
2019-08-07  4230.0  4270.0  4170.0  4210.0  4210.000000  104785500
2019-08-08  4270.0  4290.0  4240.0  4260.0  4260.000000   95204000

In [49]:
dfTelkom.iloc[1]

Open         3900.000000
High         3900.000000
Low          3900.000000
Close        3900.000000
Adj Close    3794.045166
Volume          0.000000
Name: 2019-06-06 00:00:00, dtype: float64

In [52]:
dfTelkom['2019-09':'2019-11']['Close'].resample('M').mean()
'''
    'W' = Weekend,
    'M' = End of Month,
    'Q' = Quarter Year,
    'Y' = Yearly,
    'D' = Daily
'''

Date
2019-09-30    4266.666667
2019-10-31    4200.869565
2019-11-30    4043.333333
Freq: M, Name: Close, dtype: float64

In [53]:
dfTelkom['2019-09':'2019-11']['Close'].resample('W').mean()

Date
2019-09-08    4316.0
2019-09-15    4224.0
2019-09-22    4248.0
2019-09-29    4270.0
2019-10-06    4230.0
2019-10-13    4120.0
2019-10-20    4178.0
2019-10-27    4264.0
2019-11-03    4210.0
2019-11-10    4130.0
2019-11-17    4112.0
2019-11-24    4036.0
2019-12-01    3888.0
Freq: W-SUN, Name: Close, dtype: float64

In [54]:
dfTelkom = dfTelkom.sort_index()
dfTelkom = dfTelkom.resample('D').sum()
dfTelkom.iloc[:, :5] = dfTelkom.iloc[:, :5].replace(0, np.NaN)
dfTelkom = dfTelkom.fillna(method = 'ffill')
dfTelkom

              Open    High     Low   Close    Adj Close     Volume
Date
2019-06-05  3900.0  3900.0  3900.0  3900.0  3794.045166          0
2019-06-06  3900.0  3900.0  3900.0  3900.0  3794.045166          0
2019-06-07  3900.0  3900.0  3900.0  3900.0  3794.045166          0
2019-06-08  3900.0  3900.0  3900.0  3900.0  3794.045166          0
2019-06-09  3900.0  3900.0  3900.0  3900.0  3794.045166          0
...            ...     ...     ...     ...          ...        ...
2019-12-02  3960.0  3960.0  3930.0  3950.0  3950.000000   74263500
2019-12-03  3920.0  3940.0  3910.0  3920.0  3920.000000   74494000
2019-12-04  3920.0  3990.0  3900.0  3990.0  3990.000000   64948300
2019-12-05  3990.0  4080.0  3990.0  4060.0  4060.000000  118494800
2019-12-06  4040.0  4100.0  4020.0  4100.0  4100.000000   50682100

[185 rows x 6 columns]