In [1]:
import mysql.connector
import numpy as np
import pandas as pd
from decimal import Decimal
import matplotlib.pyplot as plt

In [2]:
db = mysql.connector.connect(
    host = 'localhost',
    port =  3306,
    user = 'root',
    passwd = 'vincent28',
    auth_plugin = 'mysql_native_password',
    use_pure = True,
    database = 'sekolahku'
)

In [3]:
createDatabaseQuery = 'create database if not exists sekolahku'
createUserTableQuery = 'create table users (id int(11) auto_increment primary key, username varchar(50), email varchar(50), password varchar(50), created_at timestamp default current_timestamp, updated_at timestamp default current_timestamp on update current_timestamp)'
createCoursesTableQuery = 'create table courses(id int(11) auto_increment primary key, course varchar(50) not null, mentor varchar(50) not null, title varchar(50) not null)'
createUserCourseTableQuery = 'create table userCourse(id_user int(11), id_course int(11))'
cursor  = db.cursor()
# cursor.execute(createDatabaseQuery)
# cursor.execute(createUserTableQuery)
# cursor.execute(createCoursesTableQuery)
# cursor.execute(createUserCourseTableQuery)
# db.commit()
# cursor.execute('drop table users')

In [19]:
insertUserDataQuery = 'insert into users (username, email, password) values (%s, %s, %s)'

usernameData = ['Andi', 'Budi', 'Caca', 'Deni', 'Euis', 'Fafa']
emailData = ['andi@andi.com', 'budi@budi.com', 'caca@caca.com', 'deni@deni.com', 'euis@euis.com', 'fafa@fafa.com']
passwordData = [12345, 67890, 'abcde', 'fghij', 'klmno', 'pqrst']

# for i in range(len(usernameData)):
#     cursor.execute(insertUserDataQuery, [usernameData[i], emailData[i], passwordData[i]])
# db.commit()

In [20]:
insertCoursesDataQuery = 'insert into courses (course, mentor, title) values (%s, %s, %s)'

courseData = ['C++', 'C#', 'C#', 'CSS', 'HTML', 'Javascript', 'Python', 'Micropython', 'Java', 'Ruby']
mentorData = ['Ari', 'Ari', 'Ari', 'Cania', 'Cania', 'Cania', 'Barry', 'Barry', 'Darren', 'Darren']
titleData = ['Dr.', 'Dr.', 'Dr.', 'S.Kom', 'S.Kom', 'S.Kom', 'S.T.', 'S.T.', 'M.T.', 'M.T.']

# for i in range(len(courseData)):
#     cursor.execute(insertCoursesDataQuery, [courseData[i], mentorData[i], titleData[i]])
# db.commit()

In [21]:
insertUserCoursesDataQuery = 'insert into userCourse (id_user, id_course) values (%s, %s)'

userIdData = [1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6]
courseIdData = [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 3, 5, 2, 4, 6, 7, 8, 9]

# for i in range(len(userIdData)):
#     cursor.execute(insertUserCoursesDataQuery, [userIdData[i], courseIdData[i]])
# db.commit()

In [4]:
no07Query = 'select courses.course, courses.mentor, courses.title, count(users.id) as jumlah_peserta from users inner join userCourse on users.id = userCourse.id_user  inner join courses on courses.id = userCourse.id_course group by courses.course'
cursor.execute(no07Query)

ProgrammingError: 1055 (42000): Expression #2 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'sekolahku.courses.mentor' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by